@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --colorPrimario: #3F3B3B;
    --colorSecundario: #797676;
    --colorFondo: rgb(83, 83, 83);
    --colorBlanco: #FFF;
    --colorNegro: #000;
    --fuentePrincipal: 'Ubuntu', sans-serif;
}

html {
    font-family: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Estilos globales */
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    margin: 0;
    background-color: var(--colorPrimario);
}
img {
    width: 100%;
}
span, input {
    display: block;
}
span, p {
    color: var(--colorBlanco);
}
a {
    text-decoration: none;
    color: var(--colorNegro);
}

.contenedor {
    width: 90%;
    margin: auto;
}

.contenido-central {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1000px) {
    .contenido-central .contenedor {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
/* sección contacto */

.chat-contactos {
    background-color: var(--colorFondo);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    overflow: auto;
}
@media (min-width: 1000px) {
    .chat-contactos {
        border-radius: .5rem;
    }
    .chat-contactos::-webkit-scrollbar {
        display: none;
    }
}



.chat-contactos .contenedor .buscar-contacto {
    /* display: flex; */
    display: none;
}
@media (min-width: 800px) {
    .chat-contactos .contenedor .buscar-contacto {
        display: flex;
    }
}
.contenedor .buscar-contacto .campo-search{
    border: none;
    padding: .6rem 1rem;
    outline: none;
}
.contenedor .buscar-contacto .btn-search {
    border: none;
}
.lista-contactos .contenedor {
    display: flex;
}
.lista-contactos .contenedor .contacto-titulo {
    color: var(--colorBlanco);
    text-align: center;
    font-weight: 400;
    display: none;
}
@media (min-width: 1000px) {
    .lista-contactos .contenedor {
        flex-direction: column;
    }
    .lista-contactos .contenedor .contacto-titulo {
        display: block;
    }
}
.lista-contactos .contenedor .contacto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem .6rem;
    cursor: pointer;
}
@media (min-width: 1000px) {
    .lista-contactos .contenedor .contacto {
        border-bottom: 1px solid var(--colorSecundario);
    }
    .lista-contactos .contenedor .contacto:hover {
        background-color: var(--colorPrimario)
    }
}


.contenedor .contacto .foto-perfil {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}
.contenedor .contacto .nombre-contacto {
    font-size: .8rem;
    margin-right: 1rem;
    display: none;
    font-size: 1rem;
}
@media (min-width: 1000px) {
    .contenedor .contacto .nombre-contacto {
        display: block;
    }
}

@media (min-width: 800px) {
    .contenedor .contacto .nombre-contacto {
        display: block;
    }
}

/* sección central del chat */

.chat-usuarios {
    background-color: rgb(63 59 68 / 100%);
    border-radius: .6rem;
}

.contacto-chat .contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacto-chat .contenedor .opcion {
    color: var(--colorBlanco);
    cursor: pointer;
}
.contacto-chat .contenedor .informacion-usuario__chat{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 1px var(--colorSecundario);
}
.contenedor .informacion-usuario__chat .foto-perfil {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.contenedor .informacion-usuario__chat span {
    font-size: 1rem;
}

.contacto-chat .sala-chat {
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
}

.sala-chat .contenedor .chat {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    overflow-y: auto;
}
.sala-chat .contenedor .chat::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    display: none;
}
.sala-chat .contenedor .chat::-webkit-scrollbar-thumb {
    background-color: var(--colorSecundario);
    border-radius: .6rem;
}
.sala-chat .contenedor .chat::-webkit-scrollbar-thumb:hover {
    background-color: var(--colorBlanco);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    display: block;
}
.contenedor .chat .mensaje-usuario {
    display: flex;
}
.chat .mensaje-usuario .foto-usuario {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* este codigo es importante para el listado de mensajes del mysql */
.chat .mensaje-usuario .mensaje {
    font-size: 1rem;
    margin-left: .8rem;
    background-color: var(--colorBlanco);
    color: var(--colorNegro);
    padding: .6rem 1rem;
    /* border-bottom-left-radius: 3rem; */
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    border-bottom-left-radius: .6rem;
}

.contenedor .chat .mensaje-contacto {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}
.contenedor .chat .mensaje-contacto,
.contenedor .chat .mensaje-usuario {
    margin-top: 1rem;
}

.chat .mensaje-contacto .foto-usuario {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 1rem;
}

/* este codigo es importante para el listado de mensajes del mysql */
.chat .mensaje-contacto .mensaje {
    width: 100%;
    font-size: 1rem;
    margin: 0 0 0 0;
    background-color: var(--colorSecundario);
    color: var(--colorBlanco);
    padding: .6rem 1rem;
    border-top-right-radius: .6 rem;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: 3rem;
}

/* formulario de enviar mensajes */
.campo-escritura {
    background-color: var(--colorFondo);
    padding: 1rem;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.campo-escritura .contenedor .mensaje-enviar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contenedor .mensaje-enviar .mensaje-en {
    width: 90%;
    padding: .9rem 1rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    max-width: 80%;
    min-width: 80%;
    max-height: 3rem;
    min-height: 3rem;
    font-family: var(--fuentePrincipal);
    font-size: 1rem; 
}
.contenedor .mensaje-enviar .mensaje-en::-webkit-scrollbar {
    display: none;
}
.contenedor .mensaje-enviar .btn-submit {
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/*Estilos para el formulario*/
.formulario {
    width: 100%;
    background-color: rgb(63 59 68 / 100%);
    padding: 1rem 2rem;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .formulario {
        width: 90%;
        margin: auto;
    }
}
.formulario .formulario-titulo {
    text-align: center;
    color: var(--colorBlanco);
    font-weight: 400;
    font-size: 1.6rem;
}
.formulario .campo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.formulario .campo .icon-form {
    background-color: var(--colorSecundario);
    font-size: 1rem;
}
.formulario .campo .campo__input {
    width: 90%;
    outline: none;
    border: none;
    font-size: .9rem;
}
.formulario .campo .icon-form,
.formulario .campo .campo__input {
    padding: .5rem 1rem;
}
.formulario .btn-submit {
    display: block;
    border: solid 1px var(--colorBlanco);
    font-size: 1rem;
    padding: .2rem 2rem;
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    border-radius: .2rem;
    cursor: pointer;
}

.formulario .cambio-formulario {
    font-size: 1rem;
    text-align: center;
}

.formulario .cambio-formulario a {
    color: var(--colorBlanco);
    font-weight: 300;
}
.formulario .cambio-formulario a:hover {
    text-decoration: underline;
}